<!-- <GridLayout>
  <page-router-outlet></page-router-outlet>
</GridLayout> -->


  <GridLayout>
    <page-router-outlet></page-router-outlet>

    <!-- <StackLayout>
      <StackLayout
        *ngFor="let product of products"
        class="productContainer"
        [nsRouterLink]="['/productdetails']"
      >
        <Image [src]="product.image" class="productImage"></Image>
        <Label [text]="product.title" class="h1"></Label>
        <Label [text]="product.description" textWrap="true"></Label>
        <label [text]="'$' + product.price" class="productPrice"></label>
      </StackLayout>
    </StackLayout> -->
  </GridLayout>

